In [3]:
import pandas as pd
import numpy as np
import os

#Leer el archivo que contiene el dataset e imprimir su contenido
df = pd.read_csv("data.csv")
df

   metro  precio
0      5     375
1     15     487
2     20     450
3     25     500

#Ejemplo 1 - Cálcular el tamaño del dataset (De izquierda a derecha -> filas y columnas)

In [7]:

df.shape

(4, 2)

#Ejemplo 2 - Traer el contenido de columnas especificas, en este caso el contenido de la columna "Precio"

In [9]:
df['precio']

0    375
1    487
2    450
3    500
Name: precio, dtype: int64

#Ejemplo 3 - Calcular la media de los precios utilizando el metodo mean()

In [10]:
df["precio"].mean()

453.0